<header>
    <nav>
        <a href="/">ODCP</a>
        <ul>
            <li> <a href="/samples">compounds</a> </li>
            <li> <a href="/samples/new">add compound </a> </li>    
        </ul>
    </nav>
</header>