<header>
    <nav>
        <div class="header-wrapper">
            <div class="header-logo">
                <a href="/">ODCP</a>
            </div>
            <div class="header-link">
                <a href="/samples">list samples</a>
            </div>
            <div class="header-link">
                <a href="/samples/new">add sample </a>  
            </div>
        </div>
    </nav>
</header>