<section class="index-description">
    <div class="">
        The open database for chemical processes provides a server to host repositories of data for comoounds of samples. The database is currently in an alpha version
    </div>
    <div class="index-news">
        Fri Sep 17 2021  &nbsp; heroku application deployed<br>
        Mon Sep 20 2021  &nbsp; alpha version released
    </div>
</section>