:root{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

header nav {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    background-color: lightgrey;
}

header nav .header-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header nav .header-logo {
    font-size: 30px;
    margin-left: 30px;
    padding-right: 20px;

}

header nav .header-logo > a {
    color: black;
}

header nav .header-link {
    padding: 10px;
}

.landing-description  {
    margin-top: 50px;

}

section {
    left: 0;
    margin: 50px 0px 0px 20px;
}

.index-description {
    margin: 50px 0px 0px 25%;
}

.index-description div {
    height: 200px;
    width: 400px;
}

.index-description .index-news {
    margin-left: -15%;
}


.landing-description h3 {
    text-align: center;
}

.new-sample-table tbody th {
    float: left;
    padding-right: 5px;
}

table tbody tr .sample-table-header {
    font-size: 20px;
    padding-right: 20px;
}