<div>
    <table class="new-sample-table">
        <tbody>
            <tr>
                <th>sample name</th>
                <td><input type="text" name="compound" value="<%= sample.sample_name %>"></td>
            </tr>
            <tr>
                <th>sample description</th>
                <td><textarea type="text" name="description"></textarea></td>
            </tr>
            <tr>
                <th>sample pdf</th>
                <td><input type="file" name="upload" accept=".pdf"></td>
            </tr>
            <tr>
                <th>sample image</th>
                <td><input type="file" name="imgUpload" accept=".jpeg,.jpg,.png"></td>
            </tr>
            <tr>
                <th>sample submission</th>
                <td> 
                    <button type="submit">Create</button>
                    <a href="/samples">Cancel</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>